# Banner adUnit ID
ANDROID_EDIT_PAGE_BANNER_AD_UNIT_ID=your_android_edit_page_banner_ad_unit_id
ANDROID_EDIT_PAGE_BANNER_AD_UNIT_ID_TEST=your_android_edit_page_banner_ad_unit_id_test

IOS_EDIT_PAGE_BANNER_AD_UNIT_ID=your_ios_edit_page_banner_ad_unit_id
IOS_EDIT_PAGE_BANNER_AD_UNIT_ID_TEST=your_ios_edit_page_banner_ad_unit_id_test

ANDROID_SET_FEATURES_BANNER_AD_UNIT_ID=your_android_set_features_banner_ad_unit_id
ANDROID_SET_FEATURES_BANNER_AD_UNIT_ID_TEST=your_android_set_features_banner_ad_unit_id_test

IOS_SET_FEATURES_BANNER_AD_UNIT_ID=your_ios_set_features_banner_ad_unit_id
IOS_SET_FEATURES_BANNER_AD_UNIT_ID_TEST=your_ios_set_features_banner_ad_unit_id_test

# Reward adUnit ID
IOS_REWARDED_AD_UNIT_ID=your_ios_rewarded_ad_unit_id
IOS_REWARDED_AD_UNIT_ID_TEST=your_ios_rewarded_ad_unit_id_test

ANDROID_REWARDED_AD_UNIT_ID=your_android_rewarded_ad_unit_id
ANDROID_REWARDED_AD_UNIT_ID_TEST=your_android_rewarded_ad_unit_id_test